<html>
	<form method="post" action="/softage/ocr/" enctype="multipart/form-data">
		<input type="file" name="origImage"><br /><br />
		<input type="submit" name="submit" value="submit">
	</form>
</html>
